@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
    font-family: 'Roboto';
    margin: 0px;
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
nav {
    display: flex;
    flex-flow: row nowrap;
}
nav a {
    display: inline-block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 2vmin;
}

nav a:hover {
    background-color: darkgray;
    color: black;
}

.categoria {
    font-size: 3vmin;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
}


.contenedor img {
    width: 200px;
    height: auto;
}

.contenedor img:hover {
    box-sizing: border-box;
    border: 1px solid darkgray;
    transform: scale(1.2,1.2);
}